<div style="width:600px; background-color:#aaffff; padding:10px;">
	<% for(var i=0; i<1; ++i){ //cities.length %>
		<% var city_i = cities[0].get(); %>
		<h1><%= city_i.name %></h1>
		<h4>Flood risk assessment:</h4>
		<h5><%= scale[city_i.flood_threat_level] %></h5>
		<p><%= city_i.flood_info %></p>
		<h4>Earthquake risk assessment:</h4>
		<h5><%= scale[city_i.earthquake_threat_level] %></h5>
		<p><%= city_i.earthquake_info %></p>
		<h4>Marauders risk assessment:</h4>
		<h5><%= scale[city_i.marauder_threat_level] %></h5>
		<p><%= city_i.marauder_info %></p>
	<% } %>
</div>
<div style="width:600px; background-color:#aaffff; padding:10px;">
	<p>Sign up to connect with fellow <%= cities[0].get().name; %> Preppers and get the informaton you need to prepare accordingly.</p>
		<form action="signup" method="get">
			<input type="hidden" name="city" value="<%= cities[0].get().name; %>" />
			<input type="submit" value="Signup" />
		</form>
</div>