<!--
<h1>My home page</h1>
<% if(typeof user !== 'undefined') { %>

	Hello, <b><%= typeof user.name === 'string' ? user.name : 'Unknown' %></b>.

	<a href="/logout" class="btn btn-primary">Logout</a>
	<h3>Resources</h3>
 -->

	<h3> <%= user.city %>  </h3>

	<% // DELETE THIS INLINE STYLE %>
	<form style="margin:auto; width:400px" action="/profile" method="post" class="input-field" >
		
		<h5>Water</h5>
		<div id="waterResourceSliderWrapper" class="sliderWrapper">
			<span class='hidden_var recommended_var'>40</span>
			<span class='hidden_var have_var'><%= user.gallons %></span>
		</div>

		<h5>Food</h5>
		<div id="foodResourceSliderWrapper" class="sliderWrapper">
			<span class='hidden_var recommended_var'>35</span>
			<span class='hidden_var have_var'><%= user.meals %></span>
		</div>

		<h5>Guns</h5>
		<div id="gunResourceSliderWrapper" class="sliderWrapper">
			<span class='hidden_var recommended_var'>30</span>
			<span class='hidden_var have_var'><%= user.guns %></span>
		</div>

		<input id="recWaterHiddenInput" name="recWater" value="10" type="hidden">
		<input id="haveWaterHiddenInput" name="haveWater" value="10" type="hidden">

		<div id="foodSlider" class="resourceSlider" ></div>
		<div id="gunSlider" class="resourceSlider" ></div>
		<input type="submit" value="Save." >
	</form>

<% } %>

<br>
<br>
<div class="container">
  <div class="row">

<!-- Profile Card -->
    <div class="col s12 m6 l5">
      <div class="card medium z-depth-5 white-text grey darken-4 profileCard">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator responsive-img" src="http://images.akamai.steamusercontent.com/ugc/794066798558437531/DA15FA86ACF40D67E2009076909E3F272A9871B8/">
        </div>
        <div class="card-content">
        <% if(typeof user !== 'undefined') { %>
          <span class="card-title activator"><h4><%= typeof user.name === 'string' ? user.name : 'Unknown' %><i class="material-icons right">info_outline</i></h4></span>
        <% } %>
          <h6 class="right-align">Prep Score #</h6>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">This is your profile!<i class="material-icons right">close</i></span>
          <p>Here is some more information about you, or maybe we will update your profile pic here?</p>
        </div>
      </div>
    </div>

<!-- Achievments Card -->
    <div class="col s12 m6 l5 offset-l2">
      <div class="card medium z-depth-5 white-text grey darken-4 achievementCard">
        <div class="card-image">
          <img class="responsive-img" src="https://lh3.googleusercontent.com/h9xqvvuUe_jooJ_6KykNcfi4vPfIIAeQncid9OxV7Yo57tIwzb5Ms269d9AQzWUFEHg=w300">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
        <%  %>
          <h5>My Achievments</h5>
        <%  %>
        </div>
        <div class="card-action">
          <a href="#">All Achievments</a>
        </div>
      </div>
    </div>

  </div>

<!-- Resources Card -->
  <div class="row">
    <div class="col s12">
      <div class="card z-depth-5 white-text grey darken-4">
        <div class="col s12 m2 l2 offset-l2">
          <h4 class="center-align">Water</h4>
        </div>
        <div class="col s12 m6 l6">
          <% if(typeof user !== 'undefined') { %>
          <% // DELETE THIS INLINE STYLE %>
            <form style="margin:auto; width:400px" action="/profile" method="POST" class="input-field" >
              <div id="waterResourceSliderWrapper" class="sliderWrapper"></div>
              <input id="recWaterHiddenInput" name="recWater" value="10" type="hidden">
              <input id="haveWaterHiddenInput" name="haveWater" value="10" type="hidden">

              <div id="foodSlider" class="resourceSlider" ></div>

              <div id="gunSlider" class="resourceSlider" ></div>

              <button type="submit" name="action" class="waves-effect waves-light btn-flat amber">Update</button>
            </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l4 offset-l">
    <div class="card-panel hoverable white-text grey darken-4 z-depth-5 supplyCard">
    <% if(typeof user !== 'undefined') { %>
      <form method="post" action="/profile" class="input-field">
        <p class="range-field">
          <input type="range" id="" min="0" max="100" />
        </p>
      </form>
    <% } %>
    </div>
  </div>

<!-- Supply Card -->
 <!--    <div class="col s12 m12 l12 offset-">
      <div class="card-panel hoverable white-text grey darken-4 z-depth-5 supplyCard">
        <table class"bordered hoverable centered responsive-table">
          <thead>
            <tr>
                <th data-field="item">Item</th>
                <th data-field="quantity">Quantity</th>
                <th data-field="new"><a class="waves-effect waves-circle waves-light btn-floating green tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Add Items"data-target="modal-supplies"><i class="material-icons">add</i></a></th>
            </tr>
          </thead>
          <tbody>
          <%  %>
            <tr>
              <td>Food</td>
              <td>72hrs</td>
              <td><a class="waves-effect waves-circle waves-light btn-floating amber tooltipped" data-position="left" data-delay="50" data-tooltip="Edit Selected Items"><i class="material-icons">edit</i></a></td>
              <td><a class="waves-effect waves-circle waves-light btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="Delete Selected Items"><i class="material-icons">delete</i></a></td>
            </tr>
          <%  %>
            <tr>
              <td>Water</td>
              <td>72hrs</td>
              <td><a class="waves-effect waves-circle waves-light btn-floating amber tooltipped" data-position="left" data-delay="50" data-tooltip="Edit Selected Items"><i class="material-icons">edit</i></a></td>
              <td><a class="waves-effect waves-circle waves-light btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="Delete Selected Items"><i class="material-icons">delete</i></a></td>
            </tr>
            <tr>
              <td>Firearms</td>
              <td>3</td>
                <td><a class="waves-effect waves-circle waves-light btn-floating amber tooltipped" data-position="left" data-delay="50" data-tooltip="Edit Selected Items"><i class="material-icons">edit</i></a></td>
                <td><a class="waves-effect waves-circle waves-light btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="Delete Selected Items"><i class="material-icons">delete</i></a></td>
            </tr>
            <tr>
              <td>Ammo</td>
              <td>300rds</td>
              <td><a class="waves-effect waves-circle waves-light btn-floating amber tooltipped" data-position="left" data-delay="50" data-tooltip="Edit Selected Items"><i class="material-icons">edit</i></a></td>
              <td><a class="waves-effect waves-circle waves-light btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="Delete Selected Items"><i class="material-icons">delete</i></a></td>
            </tr>
          <%  %>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->

<!--   Disaster Cards (forEach) -->
<!--   <div class="row">
  <%  %>
    <div class="col s12 m6 l6">
      <div class="card medium disasterCard">
        <div class="card-image">
          <img src="http://wallpaperbang.com/wp-content/uploads/2015/08/Earthquake-HD-Wallpapers.jpg">
          <span class="card-title">Name of Disaster</span>
        </div>
        <div class="card-content">
          <p>Here is some basic information on this disaster type. Follow the link below for more detailed inforamtion</p>
        </div>
        <div class="card-action">
          <a href="#">Learn More</a>
        </div>
      </div>
    </div>
  <%  %>
    <div class="col s12 m6 l6">
      <div class="card medium">
        <div class="card-image">
          <img src="http://wallpoper.com/images/00/43/08/11/2012-doomsday-wallpaper-2012-doomsday-movies_00430811.jpg">
          <span class="card-title">Name of Disaster</span>
        </div>
        <div class="card-content">
          <p>Here is some basic information on this disaster type. Follow the link below for more detailed inforamtion</p>
        </div>
        <div class="card-action">
          <a href="#">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <div class="card medium">
        <div class="card-image">
          <img src="http://www.wallpaperup.com/uploads/wallpapers/2013/07/26/124280/big_thumb_a508095ccf7de6d20d87b2de44a43b68.jpg">
          <span class="card-title">Name of Disaster</span>
        </div>
        <div class="card-content">
          <p>Here is some basic information on this disaster type. Follow the link below for more detailed inforamtion</p>
        </div>
        <div class="card-action">
          <a href="#">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l6">
      <div class="card medium">
        <div class="card-image">
          <img src="http://i.kinja-img.com/gawker-media/image/upload/t_original/d4q8zz18np446g3tzkqb.jpg">
          <span class="card-title">Name of Disaster</span>
        </div>
        <div class="card-content">
          <p>Here is some basic information on this disaster type. Follow the link below for more detailed inforamtion</p>
        </div>
        <div class="card-action">
          <a href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div> -->



<!-- Modal For Supplies-->
<!--   <div id="modal-supplies" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="row">
        <div class="input-field col s12 m6 l3 offset-l3">
          <input id="item_name" type="text" length="20">
          <label for="item_name">Item</label>
        </div>
        <div class="input-field col s12 m6 l3">
          <input id="item_quantity" type="text" length="10">
          <label for="item_quantity">Quantity</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat amber">Update</a>
    </div>
  </div> -->

</div>
