<br>
<br>
<div class="container">
  <div class="row">

<!-- Profile Card -->
    <div class="col s12 m6 l5">
      <div class="card medium z-depth-5 white-text grey darken-4 profileCard">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://images.akamai.steamusercontent.com/ugc/794066798558437531/DA15FA86ACF40D67E2009076909E3F272A9871B8/">
        </div>
        <div class="card-content">
          <span class="card-title activator"><h3><%= user.name %><i class="material-icons right">info_outline</i><h3></span>
          <h6 class="right"><a href="#"></a>Prep Score: <%= user.prepScore %></h6>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Your Prep score is a function of how prepared you are for the worst case senareos for the city you live in.
          <i class="material-icons right">close</i></span>
          <p>You can currently plan for floods, earthquakes and marauders.</p>
        </div>
      </div>
    </div>

<!-- Weather Card -->
    <div class="col s12 m6 l5 offset-l2">
      <div class="card center weather z-depth-5 white-text grey darken-4 achievementCard">
        <div class="card-content white-text">
        <br><br><br>
          <img class="weathericon circle"  src="<%= icon %>">
          <span class="card-title"><h2><%= location %></h2></span>
          <h6>Temp: <%= temp %></h6>
          <p>Wind: <%= wind %></p>
        </div>
      </div>
    </div>

<!-- Achievments Card -->
<!--     <div class="col s12 m6 l5 offset-l2">
      <div class="card medium z-depth-5 white-text grey darken-4 achievementCard">
        <div class="card-image">
          <img class="responsive-img" src="https://lh3.googleusercontent.com/h9xqvvuUe_jooJ_6KykNcfi4vPfIIAeQncid9OxV7Yo57tIwzb5Ms269d9AQzWUFEHg=w300">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
        <%  %>
          <h5>My Achievments</h5>
        <%  %>
        </div>
        <div class="card-action">
          <a href="#">All Achievments</a>
        </div>
      </div>
    </div> -->

  </div>


<!-- Supply Card -->
  <div class="row">
   <div class="col s12">
      <div class="card-panel white-text grey darken-4 z-depth-5 supplyCard">
        <table class"bordered centered responsive-table">
          <thead>
            <tr>
                <th data-field="item">Item</th>
                <th data-field="quantity">Cached</th>
                <th data-field="need">Needed</th>
<!--                 <th data-field="new"><a class="waves-effect waves-circle waves-light btn-floating green tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Add Items"data-target="modal-supplies"><i class="material-icons">add</i></a></th> -->
            </tr>
          </thead>
          <tbody>
          <%  %>
            <tr>
             <h3 class='center'>Resources</h3>
              <td>Food</td>
              <td>You have <%= user.meals %> meals stored.</td>
              <td>Living in <%= userCity.name %>, you should store  <%= userCity.reqMeals %> meals.</td>
              <!-- <td><a class="waves-effect waves-circle waves-light btn-floating amber tooltipped" data-position="left" data-delay="50" data-tooltip="Edit Selected Items"><i class="material-icons">edit</i></a></td>
              <td><a class="waves-effect waves-circle waves-light btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="Delete Selected Items"><i class="material-icons">delete</i></a></td> -->
            </tr>
          <%  %>
            <tr>
              <td>Water</td>
              <td>You have <%= user.gallons %>gallons stored.</td>
              <td>Living in <%= userCity.name %>, you should store  <%= userCity.reqGallons %> gallons.</td>
             <!--  <td><a class="waves-effect waves-circle waves-light btn-floating amber tooltipped" data-position="left" data-delay="50" data-tooltip="Edit Selected Items"><i class="material-icons">edit</i></a></td>
              <td><a class="waves-effect waves-circle waves-light btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="Delete Selected Items"><i class="material-icons">delete</i></a></td> -->
            </tr>
            <tr>
              <td>Firearms</td>
              <td>You have <%= user.guns %> gun(s) w/ 200rds Ammo min.</td>
              <td>Living in <%= userCity.name %>, you should store  <%= userCity.reqGuns %> gun(s).</td>
<!--                 <td><a class="waves-effect waves-circle waves-light btn-floating amber tooltipped" data-position="left" data-delay="50" data-tooltip="Edit Selected Items"><i class="material-icons">edit</i></a></td>
                <td><a class="waves-effect waves-circle waves-light btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="Delete Selected Items"><i class="material-icons">delete</i></a></td> -->
            </tr>

          <%  %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<!-- Resources Card -->
  <div class="row">
    <div class="col s12">
      <div class="card z-depth-5 white-text grey darken-4">
        <div class="card-content white-text">
          <div class="col s12 m6 l12">
          <% if(typeof user !== 'undefined') { %>
            <% // DELETE THIS INLINE STYLE %>
            <form style="margin:auto; width:100%" action="/profile" method="post" class="input-field" >

                <h5>Water</h5>
                <div id="waterResourceSliderWrapper" class="sliderWrapper transparent">
                  <span class='hidden_var recommended_var'><%= userCity.reqGallons %></span>
                  <span class='hidden_var have_var'><%= user.gallons %></span>
                </div>

                <h5>Food</h5>
                <div id="foodResourceSliderWrapper" class="sliderWrapper transparent">
                  <span class='hidden_var recommended_var'><%= userCity.reqMeals %></span>
                  <span class='hidden_var have_var'><%= user.meals %></span>
                </div>

                <h5>Guns</h5>
                <div id="gunResourceSliderWrapper" class="sliderWrapper transparent">
                  <span class='hidden_var recommended_var'><%= userCity.reqGuns %></span>
                  <span class='hidden_var have_var'><%= user.guns %></span>
                </div>

                <div id="foodSlider" class="resourceSlider" ></div>
                <div id="gunSlider" class="resourceSlider" ></div>

                <button type="submit" name="action" class="waves-effect waves-light btn-flat amber">Update</button>
              </form>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--   <div class="col s12 m12 l4 offset-l">
    <div class="card-panel hoverable white-text grey darken-4 z-depth-5 supplyCard">
      <form method="post" action="/profile" class="input-field">
        <p class="range-field">
          <input type="range" id="" min="0" max="100" />
        </p>
      </form>
    </div>
  </div> -->


  <!--   Threat Cards -->
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card medium z-depth-5 white-text grey darken-4">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator threatimg" src="http://wallpaperbang.com/wp-content/uploads/2015/08/Earthquake-HD-Wallpapers.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator"><h4>Earthquake<i class="material-icons right">info_outline</i><h4></span>
          <h6 class=""><a href="#"></a>Threat Level: <%= userCity.earthquakeThreatLevel %></h6>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
          <p><%= userCity.earthquakeInfo %></p>
          <i class="material-icons right">close</i></span>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card medium z-depth-5 white-text grey darken-4">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator threatimg" src="http://staceydave.com/wp-content/uploads/2013/11/Tsunami-tall-wave2.gif">
        </div>
        <div class="card-content">
          <span class="card-title activator"><h4>Flood<i class="material-icons right">info_outline</i><h4></span>
          <h6 class=""><a href="#"></a>Threat Level: <%= userCity.floodThreatLevel %></h6>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
          <p><%= userCity.floodInfo %></p>
          <i class="material-icons right">close</i></span>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card medium z-depth-5 white-text grey darken-4">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator threatimg" src="http://i.kinja-img.com/gawker-media/image/upload/t_original/d4q8zz18np446g3tzkqb.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator"><h4>Marauder<i class="material-icons right">info_outline</i><h4></span>
          <h6 class=""><a href="#"></a>Threat Level: <%= userCity.marauderThreatLevel %></h6>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
          <p><%= userCity.marauderInfo %></p>
          <i class="material-icons right">close</i></span>
        </div>
      </div>
    </div>
  </div>


<!-- Modal For Supplies-->
<!--   <div id="modal-supplies" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="row">
        <div class="input-field col s12 m6 l3 offset-l3">
          <input id="item_name" type="text" length="20">
          <label for="item_name">Item</label>
        </div>
        <div class="input-field col s12 m6 l3">
          <input id="item_quantity" type="text" length="10">
          <label for="item_quantity">Quantity</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat amber">Update</a>
    </div>
  </div> -->

